!!!
%html(lang="en-us")
  %head
    %meta(charset="UTF-8")
    %meta(name="description" content="A succinct reference in probability theory and statistics")
    %meta(name="keywords" content="Probability,Statistics,Reference,Cheatsheet,Cookbook")
    %meta(name="author" content="Matthias Vallentin")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %title
      The Probability and Statistics Cookbook
    %link(rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen")
    %link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css')
    %link(rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen")
    %link(rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen")
  %body
    %section.page-header
      %h1.project-name The Probability and Statistics Cookbook
      %h2.project-tagline
      %a.btn(href="https://github.com/mavam/stat-cookbook/releases/download/0.1.4/stat-cookbook.pdf")
        Download PDF
      %a.btn(href="https://github.com/mavam/stat-cookbook")
        View on GitHub
    %section.main-content
      %p
        :markdown
          The probability and statistics cookbook is a succinct representation of
          various topics in probability theory and statistics. It provides a
          comprehensive mathematical reference reduced to its essence, rather
          than aiming for elaborate explanations.

          For questions, feedback, or feature requests, please [file an
          issue](https://github.com/mavam/stat-cookbook/issues) or submit a
          pull request directly.
      %h2
        %a#download.anchor{"aria-hidden" => "true", :href => "#download"}
          %span.octicon.octicon-link
        Download
      %p
        :markdown
          Latest release as of February 17, 2016:

            - Download: [PDF][pdf]
            - Version: 0.1.4

          See the [release notes][latest] for details. The corresponding source
          code also exists as [tarball][tar] and [zip archive][zip].

          [pdf]: https://github.com/mavam/stat-cookbook/releases/download/0.1.4/stat-cookbook.pdf
          [tar]: https://github.com/mavam/stat-cookbook/archive/0.1.4.tar.gz
          [zip]: https://github.com/mavam/stat-cookbook/archive/0.1.4.zip
          [latest]: https://github.com/mavam/stat-cookbook/releases
      %h2
        %a#build.anchor{"aria-hidden" => "true", :href => "#build"}
          %span.octicon.octicon-link
        Build
      %p
        :markdown
          After downloading the source or cloning the github repository, you
          can build the cookbook locally via `make`. This first generates the
          distribution plots via R and then compiles the LaTeX source. You may
          have to install a few missing packages via CRAN.
      %h2
        %a#download.anchor{"aria-hidden" => "true", :href => "#license"}
          %span.octicon.octicon-link
        License
      %p
        :markdown
          The source code for this document is freely available on
          [github](https://github.com/mavam/stat-cookbook) and comes with a
          [Attribution-NonCommercial-ShareAlike 4.0 International
          License](http://creativecommons.org/licenses/by-nc-sa/4.0/).

          Copyright &copy; [Matthias Vallentin](http://matthias.vallentin.net).
          To reproduce, please [contact me](http://matthias.vallentin.net).
      %footer.site-footer
        %span.site-footer-credits
          :markdown
            This page uses the [Cayman
            theme](https://github.com/jasonlong/cayman-theme) by [Jason
            Long](https://twitter.com/jasonlong)
    :javascript
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
              :javascript
      try {
        var pageTracker = _gat._getTracker("UA-1823891-3");
        pageTracker._trackPageview();
      } catch(err) {}
